services:
  backend:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "bun install && bun --watch run apps/backend/src/index.ts"
    environment:
      - WEBSOCKET_PORT=8080
    ports:
      - "8080:8080"
    labels:
      - dev.orbstack.domains=api.syncpad.orb.local
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/localhost/8080"]
      interval: 2s
      timeout: 5s
      retries: 10
      start_period: 10s

  frontend:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    command: bun run --cwd apps/frontend dev
    environment:
      - NEXT_TELEMETRY_DISABLED=1
      - NEXT_PUBLIC_WEBSOCKET_PORT=8080
    ports:
      - "3050:3050"
    depends_on:
      backend:
        condition: service_healthy
    labels:
      - dev.orbstack.domains=syncpad.orb.local

  devtools:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    init: true
    stop_grace_period: 1s
    tty: true
    stdin_open: true
    command: /bin/bash
