@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Configure dark mode for Tailwind 4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    font-family: var(--font-geist-sans);
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}
